name: offerwall_flutter
description: A Flutter plugin to integrate the offerwall web app into Flutter applications
version: 0.1.0
homepage: https://github.com/yourusername/offerwall_flutter

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_inappwebview: ^6.1.5
  http: ^1.2.0
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.offerwall.flutter
        pluginClass: OfferwallFlutterPlugin
      ios:
        pluginClass: OfferwallFlutterPlugin
